{% extends 'base.html.twig' %}

{% block title %}Candidature index{% endblock %}

{% block body %}
    <h1>Candidature index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_Creation</th>
                <th>EtatCandidature</th>
                <th>RendezVousDateTime</th>
                <th>RendezVousComment</th>
                <th>RendezVousEnligne</th>
                <th>RendezVousPlaceLink</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidature in candidatures %}

            <tr>
            {% if candidature.etatCandidature != 0 %}
                <td>{{ candidature.id }}</td>
                <td>{{ candidature.DateCreation ? candidature.DateCreation|date('Y-m-d') : '' }}</td>
                <td>{{ candidature.etatCandidature ? 'Yes' : 'No' }}</td>
                {% if candidature.RendezVousEnligne != null %}
                <td>{{ candidature.RendezVousDateTime ? candidature.RendezVousDateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ candidature.RendezVousComment }}</td>
                <td>{{ candidature.RendezVousEnligne ? 'Yes' : 'No' }}</td>
                <td>{{ candidature.RendezVousPlaceLink }}</td>
                {% else %}
                <td>Pas encore </td>
                <td>Pas encore</td>
                <td>Pas encore</td>
                <td>Pas encore</td>

                {% endif %}
                <td>
                    <a href="{{ path('candidature_rec_show', {'id': candidature.id}) }}">show</a>
                    {% if candidature.etatCandidature == 1 %}
                    <a href="{{ path('candidature_rec_edit', {'id': candidature.id}) }}">Valider</a> {# tsir creation mta3 rendez vous w validation  #}
                    <a href="{{ path('candidature_rec_Refuser', {'id': candidature.id}) }}">Réfuser Candidature</a> {# etat te5ou 2 #}
                    {% endif %}
                    {% if candidature.RendezVousEnligne != null %}
                    <a href="{{ path('SupprimerRV', {'id': candidature.id}) }}">Supprimer Rendez Vous</a> {# ken fama rendez vous tsir suppression / deja validé  #}
                    {% endif %}

                    {% if candidature.RendezVousEnligne == null %} {# validé ama render vous supprimer donc ynajm yaawed yaamel rendez vous  #}
                    {% if candidature.etatCandidature == 2  %}
                    <a href="{{ path('candidature_rec_edit', {'id': candidature.id}) }}">Créer Rendez Vous</a> 
                    {% endif %}
                    {% endif %}


                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('candidature_rec_new') }}">Create new</a>
{% endblock %}
