
{% block body %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>FindJob</title>
        <meta name="robots" content="noindex, follow" />
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{{asset('assets/images/logo/findjob.png')}}">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="{{asset('assets/css/vendor/bootstrap.min.css')}}">

        <!-- Icon Font CSS -->
        <link rel="stylesheet" href="{{asset('assets/css/vendor/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/vendor/flaticon.css')}}">

        <!-- Plugins CSS -->
        <link rel="stylesheet" href="{{asset('assets/css/plugins/slick.css')}}">

        <!-- Main Style CSS -->
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        {#{{ encore_entry_link_tags('app') }}#}
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    
        <header class="header">
        
            <div class="container">
            
                <div class="row justify-content-between align-items-center">
                               
                    <!-- Header Logo Start -->
                    <div class="col">
                        <div class="header-logo">
                            <a href=""><img src="{{asset('assets/images/logo/findjob.png')}}" style="width: 35%"alt="Site Logo"></a>
                        </div>
                    </div>
                    <div class="header-links col-auto order-lg-3">
                        &nbsp&nbsp&nbsp&nbsp<a  href="{{ path('app_logout') }}" >Déconnexion</a>&nbsp<i class="fas fa-sign-out-alt"> </i>
                    </div>

                    <!-- Header Menu Start -->
                    <nav id="main-menu" class="main-menu col-lg-auto order-lg-2">
                        <ul>
                            <li class="has-children"><a href="{{ path('Accueil') }}">Accueil</a></li>
                            <li class="has-children"><a href="{{ path('candidature_rec_index') }}">Les candidatures</a></li>
                            <li class="has-children"><a href="{{ path('candidature_rec_index2') }}">Les candidatures Réfusées</a></li>

                            
                        </ul>
                    </nav>
                    <!-- Header Menu End -->
                </div>
            </div>
        </header>
               
        <!--OffCanvas Overlay-->
        <div class="offcanvas-overlay"></div>



<!-- Page Heading Section Start -->
    <div class="page-heading-section section bg-parallax" data-bg-image="{{asset('assets/images/bg/bg-1.jpg')}}" data-overlay="50">
        <div class="container">
            <div class="page-heading-content text-center">
                <h3 class="title">Les candidatures Acceptée</h3>
                <ol class="breadcrumb">
                    <li><a href="#" >{{ app.user.NomUtilisateur }}</a></li>
                    {# <li class="breadcrumb-item active">Mon profil</li> #}
                </ol>
            </div>
        </div>
    </div>

    <div class="section section-padding">

            <div class="row">
                <div class="col-lg-10 col-12 mx-auto">
                    <div class="faq-card card">
                    <!-- Page Heading Section End -->

    <table class="table">
        <thead>
            <tr>

                <th>Date de postulation</th>
                <th>Candidat</th>
                <th>Etat Candidature</th>
                <th>Date et heure du rendez vous</th>
                <th>Commentaire du rendez vous</th>
                <th>En ligne </th>
                <th>Place ou Link</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidature in candidatures %}

            <tr>
            
            {% if candidature.etatCandidature == 2 %}
            {% set h = candidature.OffreEmploi.getIdRecruteur() %}
            {% set s = h.id  %} 


            {% if s ==  app.user.id %}


                <td>{{ candidature.DateCreation ? candidature.DateCreation|date('Y-m-d') : '' }}</td>
                <td>{{ candidature.user.NomUtilisateur}}</td>
                <td>{{ candidature.etatCandidature ? 'Acceptée' : 'En attente' }}</td>
                {% if candidature.RendezVousEnligne != null %}
                <td>{{ candidature.RendezVousDateTime ? candidature.RendezVousDateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ candidature.RendezVousComment }}</td>
                <td>{{ candidature.RendezVousEnligne ? 'Oui' : 'Non' }}</td>
                <td>{{ candidature.RendezVousPlaceLink }}</td>
                {% else %}
                <td>Pas encore crée </td>
                <td>Pas encore crée</td>
                <td>Pas encore crée</td>
                <td>Pas encore crée</td>
                 {% endif %}
                {% endif %}
                <td>
                    <a href="{{ path('candidature_rec_show', {'id': candidature.id}) }}">show</a>
                    {% if candidature.etatCandidature == 1 %}
                    <a href="{{ path('candidature_rec_edit', {'id': candidature.id}) }}">Valider</a> {# tsir creation mta3 rendez vous w validation  #}
                    <a href="{{ path('candidature_rec_Refuser', {'id': candidature.id}) }}">Réfuser Candidature</a> {# etat te5ou 2 #}
                    {% endif %}
                    {% if candidature.RendezVousEnligne != null %}
                    <a href="{{ path('SupprimerRV', {'id': candidature.id}) }}">Supprimer Rendez Vous</a> {# ken fama rendez vous tsir suppression / deja validé  #}
                    {% endif %}

                    {% if candidature.RendezVousEnligne == null %} {# validé ama render vous supprimer donc ynajm yaawed yaamel rendez vous  #}
                    {% if candidature.etatCandidature == 2  %}
                    <a href="{{ path('candidature_rec_edit', {'id': candidature.id}) }}">Créer Rendez Vous</a> 
                    {% endif %}
                    {% endif %}


                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de candidatures</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
