{% extends 'base.html.twig' %}

{% block title %}Candidature index{% endblock %}

{% block body %}
    <!-- Page Heading Section Start -->
    <div class="page-heading-section section bg-parallax" data-bg-image="{{asset('assets/images/bg/bg-2.jpg')}}" data-overlay="50">
        <div class="container">
            <div class="page-heading-content text-center">
                <h3 class="title">Liste des candidatures</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                    <li class="breadcrumb-item active">Liste des candidatures</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Page Heading Section End -->
    <!-- Recent Jobs Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="section-title">
                <h2 class="title">Nombre de postulations: {{ nbrepostulation }}</h2>
            </div>
            <!-- Job List Wrap Start -->
            <div class="job-list-wrap">
                {% for candidature in candidatures %}
                <!-- Job List Start -->
                <a href="{{ path('offre_emploi_show', {'id': candidature.offreEmploi.id}) }}" class="job-list">
                    <div class="salary-type col-auto order-sm-3">
                        {# <span class="salary-range">$5000 - $8000</span> #}
                        {% if candidature.etatCandidature == 0 %}
                        <span class="badge badge-danger">Réfusée</span>
                        {% endif %}
                        {% if candidature.etatCandidature == 1 %}
                        <span class="badge badge-warning">En attente</span>
                        {% endif %}
                        {% if candidature.etatCandidature == 2 %}
                        <span class="badge badge-success">Acceptée</span>
                        {% endif %}
                    </div>
                    <div class="content col">
                        <h6 class="title">{{ candidature.OffreEmploi.NomOffre }}</h6>
                        <ul class="meta">
                            <li><strong class="text-primary">{{ candidature.OffreEmploi.IdRecruteur.NomUtilisateur }}</strong></li>
                            <li><i class="fa fa-clock"></i>&nbsp;&nbsp;{{ candidature.DateCreation ? candidature.DateCreation|date('Y-m-d') : '' }}</li>
                        </ul>
                    </div>
                </a>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Recent Jobs End -->
{% endblock %}
