{% extends 'base.html.twig' %}

{% block title %}OffreEmploi index{% endblock %}

{% block body %}
    <!-- Page Heading Section Start -->
    <div class="page-heading-section section bg-parallax" data-bg-image="{{asset('assets/images/bg/bg-2.jpg')}}" data-overlay="50">
        <div class="container">
            <div class="page-heading-content text-center">
                <h3 class="title">Les offres d'emploi</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                    <li class="breadcrumb-item active">Offres d'emploi</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Page Heading Section End -->
    {# <table class="table">
        <thead>
            <tr>
                <th>Nom_offre</th>
                <th>Description</th>
                <th>Date_Debut</th>
                <th>Date_Fin</th>
                <th>Exigences</th>
                <th>Nbr_Places</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre_emploi in offre_emplois %}
            <tr>
                <td>{{ offre_emploi.NomOffre }}</td>
                <td>{{ offre_emploi.Description }}</td>
                <td>{{ offre_emploi.DateDebut ? offre_emploi.DateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ offre_emploi.DateFin ? offre_emploi.DateFin|date('Y-m-d') : '' }}</td>
                <td>{{ offre_emploi.Exigences }}</td>
                <td>{{ offre_emploi.NbrPlaces }}</td>
                <td>
                    <a href="{{ path('offre_emploi_show', {'id': offre_emploi.id}) }}">show</a>
                    {# <a href="{{ path('offre_emploi_edit', {'id': offre_emploi.id}) }}">edit</a> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun offre trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    {# <a href="{{ path('offre_emploi_new') }}">Create new</a> #}
     <div class="section section-padding">
        <div class="container">
            <div class="row mb-n5">

                <div class="col-lg-12 col-12 mb-5 pr-lg-5">
                    <!-- Job List Wrap Start -->
                    <div class="job-list-wrap">
        {% for offre_emploi in offre_emplois %}
                        <!-- Job List Start -->
                        <a href="{{ path('offre_emploi_show', {'id': offre_emploi.id}) }}" class="job-list">
                            <div class="company-logo col-auto">
                                <img src="{{asset('assets/images/companies/company-1.png')}}" alt="Company Logo">
                            </div>
                            <div class="salary-type col-auto order-sm-3">
                                <span class="salary-range">{{ offre_emploi.Salaire }}DT</span>
                                <span class="badge badge-success">{{ offre_emploi.Statut }}</span>
                            </div>
                            <div class="content col">
                                <h6 class="title">{{ offre_emploi.NomOffre }}</h6>
                                <ul class="meta">
                                    <li><strong class="text-primary">{{ offre_emploi.IdRecruteur.NomUtilisateur }}</strong></li>
                                    <li><i class="fa fa-map-marker"></i>{{ offre_emploi.Location }}</li>
                                </ul>
                            </div>
                        </a>
                        <!-- Job List Start -->
        {% else %}
            <tr>
                <td colspan="8">Aucun offre trouvé</td>
            </tr>
        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
