{% extends 'base.html.twig' %}

{% block title %}Les offres d'emploi{% endblock %}

{% block body %}
    <!-- Page Heading Section Start -->
    <div class="page-heading-section section bg-parallax" data-bg-image="{{asset('assets/images/bg/bg-2.jpg')}}" data-overlay="50">
        <div class="container">
            <div class="page-heading-content text-center">
                <h3 class="title">Les offres d'emploi</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                    <li class="breadcrumb-item active">Offres d'emploi</li>
                </ol>
            </div>
        </div>
    </div>
     <div class="section section-padding">
        <div class="container">
            <div class="row mb-n5">

                <div class="col-lg-12 col-12 mb-5 pr-lg-5">
                    <!-- Job List Wrap Start -->
                    <div class="job-list-wrap">
        {% for offre_emploi in offre_emplois %}
                        <!-- Job List Start -->
                        <a href="{{ path('offre_emploi_show', {'id': offre_emploi.id}) }}" class="job-list">
                            <div class="company-logo col-auto">
                                <img src="{{asset('assets/images/companies/company-1.png')}}" alt="Company Logo">
                            </div>
                            <div class="salary-type col-auto order-sm-3">
                                <span class="salary-range">{{ offre_emploi.Salaire }}DT</span>
                                <span class="badge badge-success">{{ offre_emploi.Statut }}</span>
                            </div>
                            <div class="content col">
                                <h6 class="title">{{ offre_emploi.NomOffre }}</h6>
                                <ul class="meta">
                                    <li><strong class="text-primary">{{ offre_emploi.IdRecruteur.NomUtilisateur }}</strong></li>
                                    <li><i class="fa fa-map-marker"></i>{{ offre_emploi.Location }}</li>
                                </ul>
                            </div>
                        </a>
                        <!-- Job List Start -->
        {% else %}
            <tr>
                <td colspan="8">Aucun offre trouvé</td>
            </tr>
        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
