{% extends 'base.html.twig' %}

{% block title %}Modifier un offre d'emploi{% endblock %}
{% block body %}
<!--OffCanvas Overlay-->
<div class="offcanvas-overlay"></div>
<!-- Page Heading Section Start -->
    <div class="page-heading-section section bg-parallax" data-bg-image="{{asset('assets/images/bg/bg-1.jpg')}}" data-overlay="50">
        <div class="container">
            <div class="page-heading-content text-center">
                <h3 class="title">Modification de l'offre d'emploi </h3>
                <ol class="breadcrumb">
                    <li><a href="#" >{{offre_emploi.NomOffre}}</a></li>
                    {# <li class="breadcrumb-item active">Mon profil</li> #}
                </ol>
        </div>
    </div>
</div>

<div class="section ">

    <div class="col-lg-10 col-12 mx-auto">
<br><br>
    {{ include('offre_emploi/_form.html.twig', {'button_label': 'Modifier'}) }}
<br>
    <a class="btn btn-dark col-12 mx-auto" href="{{ path('offre_emploi_byrecuiter') }}">Retour à la liste</a>
<br><br>
    {{ include('offre_emploi/_delete_form.html.twig') }}
    <br><br>
{% endblock %}
