{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nom_utilisateur</th>
                <th>CIN</th>
                <th>Telephone</th>
                <th>Date_naissance</th>
                <th>Type</th>
                <th>Login</th>
                <th>Photo</th>
                <th>CV</th>
                <th>Nbr_postulation</th>
                <th>Date_last_login</th>
                <th>Etat</th>
                <th>IsVerified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.NomUtilisateur }}</td>
                <td>{{ user.CIN }}</td>
                <td>{{ user.Telephone }}</td>
                <td>{{ user.DateNaissance ? user.DateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ user.Type }}</td>
                <td>{{ user.Login }}</td>
                <td>{{ user.Photo }}</td>
                <td>{{ user.CV }}</td>
                <td>{{ user.nbrPostulation }}</td>
                <td>{{ user.dateLastLogin ? user.dateLastLogin|date('Y-m-d') : '' }}</td>
                <td>{{ user.Etat ? 'Yes' : 'No' }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
{% endblock %}
