{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <!-- Page Heading Section Start -->
    <div class="page-heading-section section bg-parallax" data-bg-image="{{asset('assets/images/bg/bg-1.jpg')}}" data-overlay="50">
        <div class="container">
            <div class="page-heading-content text-center">
                <h3 class="title">Mon profil</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Accueil</a></li>
                    {# <li class="breadcrumb-item active">Mon profil</li> #}
                </ol>
            </div>
        </div>
    </div>

    <div class="section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-12 mx-auto">
                    <div class="faq-card card">
                    <!-- Page Heading Section End -->
                        <table class="table">
                            <tbody>
                                <tr>
                                    <img src="{{ asset('/uploads/photo/' ~ user.Photo) }}" alt="{{ user.NomUtilisateur }}" width="250" height="250" class="img-fluid rounded-circle mx-auto d-block">
                                </tr><br>
                                <a href="{{ path('user_photo_edit', {'id': user.id}) }}" class="btn btn-primary mx-auto d-block">Modifier la photo de profil</a>
                                <br>
                                <tr>
                                    <th>Nom_utilisateur</th>
                                    <td>{{ user.NomUtilisateur }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <th>CIN</th>
                                    <td>{{ user.CIN }}</td>
                                </tr>
                                <tr>
                                    <th>Telephone</th>
                                    <td>{{ user.Telephone }}</td>
                                </tr>
                                <tr>
                                    <th>Date_naissance</th>
                                    <td>{{ user.DateNaissance ? user.DateNaissance|date('Y-m-d') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Type</th>
                                    <td>{{ user.Type }}</td>
                                </tr>
                                <tr>
                                    <th>CV</th>
                                    <td><a href="{{ asset('uploads/CV/' ~ user.CV) }}">Voir le CV</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                                <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-success mx-auto d-block">Modifier les informations</a>
                                <a href="{{ path('user_cv_edit', {'id': user.id}) }}" class="btn btn-primary mx-auto d-block">Modifier le CV</a>
                        </div>
                        <br>
                        {{ include('user/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
